{% extends 'layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}
{% block body%}
{% include 'navbar.html' %}

{% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }} m-3 p-3 rounded"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}
{% if articles %}<br>

  <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-0 col-md-1 col-lg-1 col-xl-9">
          <div class="card bg-dark text-white" style="border-radius: 15px;">
            <div class="card-body p-5">

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Makale Başlığı</th>
      <th scope="col">Oluşturma Tarihi</th>
      <th scope="col">Detaylar</th>
      <th scope="col">Düzenle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
  <!-- MAKALE BAŞLANGICI -->
  {%for article in articles %}
    <tr>
      <th scope="row">{{article.id}}</th>
      <td><div class="d-grid gap-2"><a class="btn btn-outline-light" href="/articles/details/{{article.id}}">{{article.title}}</a></div></td>
      <td><div class="d-grid gap-2"><a class="btn btn-outline-info"><i class="fas fa-calendar-alt"></i> {{article.createdDate}}</a></div></td>
      <td><div class="d-grid gap-2"><a class="btn btn-outline-primary" href="/articles/details/{{article.id}}"><i class="far fa-eye"></i> Detaylar</a></div></td>
      <td><div class="d-grid gap-2"><a class="btn btn-outline-warning" href="/articles/update/{{article.id}}"><i class="fas fa-pencil-alt"></i> Düzenle</a></div></td>
      <td><div class="d-grid gap-2"><a class="btn btn-outline-danger" href="/articles/delete/{{article.id}}"><i class="fas fa-trash"></i> Sil</a></div></td>


    </tr>
  {%endfor%}
  <!-- MAKALE BİTİŞİ -->
  </tbody>
</table>
</div>
 <!-- MODAL -->

 <!-- MODAL BİTİŞ-->
{% else %}<br>
<div class="card text-center">
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Üzgünüz Hiç Makaleniz Bulunmuyor</h4>
  <p>Makale oluşturmak için lütfen sağ üstten "Makale Yaz" butonuna basınız.</p>
</div></div>
{% endif %}

{% endblock %}
