{% extends 'layout.html' %}
{% load static %}
{% block body%}
{% include 'navbar.html' %}
{% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }} m-3 p-3 rounded"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}


<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Makale Başlığı</th>
      <th scope="col">Detaylar</th>
      <th scope="col">Düzenle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
  <!-- MAKALE BAŞLANGICI -->

  {%for article in articles %}
    <tr>
      <th scope="row">{{article.id}}</th>
      <td>{{article.title}}</td>
      <td><button class="btn btn-outline-primary"><i class="far fa-eye"></i> Detaylar</button></td>
      <td><button class="btn btn-outline-warning"><i class="fas fa-pencil-alt"></i> Düzenle</button></td>
      <td><button class="btn btn-outline-danger"><i class="fas fa-trash"></i> Sil</button></td>
    </tr>
  {%endfor%}
  <!-- MAKALE BİTİŞİ -->

  </tbody>
</table>

{% endblock %}
